body{
	background-color: papayawhip;
}

#name{
	
	background-image: url("circuit.png");
	background-position: bottom middle;
	
	font-size: 100px;
	text-shadow: 3px 3px black, -3px -3px black,3px -3px black,-3px 3px black;
	color: gold;
	
	line-height: 250%;
	height: 10%;
	width: 100%;
	
	border: 100px black;
}

h1 {
	font-family: Tahoma, arial, serif;
	color:goldenrod;
	background-color:darkslategray;
	text-align:center;
}